.App {
  text-align: center;
}

.signup-form, .login-form {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

a {
  color: #007bff; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.google-signup-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8b4b4; /* Google blue */
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.google-logo {
  width: 25px; /* You can adjust the size as needed */
  height: 25px;
  margin-right: 10px;
}

.google-signup-button:hover {
  background-color: #f0816f;
}